<%= render 'navbar_welcome' %>

<div class="card border-dark text-center">
  <div class="card-body">
    <h2 class="card-title">Seja bem-vindo!</h2>
    <%= image_tag("istockphoto-1092571024-612x612.jpg")  %> 
    <br>
    <br>
   <%= link_to 'Acessar To Do List', tasks_path, :class => "btn btn-dark"%>
  </div>

  <div class="card-footer text-muted">
     <h6>
        Desenvolvido por <strong>Gustavo da Silva Carvalho</strong> 
    </h6>
  </div>
</div>